.fileUploadArea{
    margin: 0 auto;
    background: var(--myWhite);
    display: flex;
    flex-direction: column;
    width: auto;
    
    align-items: center;
    justify-content: center;
    height: max-content;
    cursor: pointer;
}

.fileUploadArea label{
    cursor: pointer;
    height: 100%;
    width: 100%;
}

.fileUploadArea input{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    z-index: -1;
}

.smBorder{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px solid #ccc;
    height: inherit;
    margin: 0;
    position: absolute;
    top: 0;
}

.bgBorder{
    border: 1px solid;
}

.uploadLabel{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.upLoadArea{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.upLoadArea object{
    width: 100%;
    height: 100px;
    object-fit: inherit;
    border: 1px solid;
    /* rounded-md w-full max-w-xs h-72 */
    
}

.upLoadArea span{
    padding: 5px 10px;
    margin-top: 15px;
    outline: none;
    background: #2563eb;
    color: white;
    width: 80%;
    border: none;
    cursor: pointer;
    text-align: center;
}

.upLoadArea span:hover{
    color: #2563eb;
    background-color: white;
    border: 1px solid #2563eb;
}



