.brand{
    float: left;
    padding-top: 15px;
    padding-bottom: 10px;
    color: var(--myWhite);
}

.brand_name{
    font-size: 30px;
    font-weight: 900;
    display: inline-block;
    vertical-align: middle;
}

.brand_slogan {
    display: inline-block;
    padding-left: 6px;
}