.container {
    display: flex;
    padding: 20px;
    flex-direction: column;
}

.topPart{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.topPart > a{
    background-color: var(--myGreen);
    border: 1px solid var(--myGreen);
    font-weight: 400;
    color: var(--myWhite);
}

.topPart > a:hover{
    color: var(--myGreen);
    background: transparent;
    border: 1px solid var(--myGreen);
}



.tableContainer{
    background-color: var(--myBlue);
    padding: 20px;
    border-radius: 2px;
    margin-top: 30px;
    color: var(--myWhite);
}
.tableTop{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.table{
    width: 100%;
}

.table td{
    padding: 10px;
}

.user{
    display: flex;
    gap: 10px;
    align-items: center;
}

.avatar {
    border-radius: 50px;
    border: none;
    object-fit: cover;
}

.buttons{
    display: flex;
    gap: 10px;
}

.button{
    padding: 5px 10px;
    border-radius: 2px;
    border: none;
    color: var(--myWhite);
    cursor: pointer;
    font-weight: 500;
}

.addButton{
    background-color: var(--myBlue);
}

.view{
    background-color: var(--myGreen);
}

.delete{
    background-color: var(--myRed);
}