.container {
    display: flex;
    padding: 20px;
}

.topPart{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.topPart > a{
    background-color: var(--myGreen);
    border: 1px solid var(--myGreen);
    font-weight: 400;
}

.topPart > a:hover{
    color: var(--myGreen);
    background: transparent;
    border: 1px solid var(--myGreen);
}