
.nav{
    display: flex;
    /* float: right; */
    align-items: center;
    height: 100%;
}

.nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    font: inherit;
    height: 100%;
    align-items: center;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
    
}

.nav ul li{
    height: 100%;
    display: flex;
    align-items: center;
}

.navItem a{
    font-weight: 600;
    color: var(--myWhite);
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 19px;
}

.navItem a:hover{
    background: var(--myWhite);
    color: var(--myBlack);
}

.navItem a:hover{
    background: var(--myWhite);
    color: var(--myBlack);
}

.navItem a.active{
    background: var(--myWhite);
    color: var(--myBlack);
}
