.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f4f8;
    color: #333;
    padding: 20px;
  }

  .cardsCircleRow{
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .cardsColumn{
    display: flex;
    /* border: 1px solid red; */
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
  }

  .titleRow{
    /* border: 1px solid red; */
    display: flex;
    font-weight: 600;
    margin-bottom: 25px;
    font-size: 105%;
  }
  
  .cardsRow {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
  }
  
  .card {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    flex: 1;
  }

  .circlesBtnColumn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .BtnsRow {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #0056b3;
  }

  .circlesRow {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
  }
  
  .circle {
    background-color: #fff;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 18px;
    flex-direction: column;
  }

  .circle h4 {
    font-weight: 600;
  }
  
  .tableContainer {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table th, .table td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .table th {
    background-color: #007bff;
    color: white;
  }
  

  