.container{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: var(--myWhite);
    color: var(--myBlack);
    padding: 10px;
    width: max-content;
    border: 1px solid var(#ccc);
    border-radius: 3px;
}

.input{
    background-color: transparent;
    border: none;
    color: var(--myBlack);
    outline: none;
}