/* * {
    margin: 0;
} */

.containerProfile {
    display: flex;
    flex-direction: column;
    color: var(--myWhite);
}

.contentSection {
    display: flex;
    justify-content: center;
    background-color: var(--myDark);
    height: 90vh;
}
.formSection{
    display: flex;
    flex-direction: row;
    width: 70vw;
    position: relative;
    justify-content: space-between;
    margin: 50px 0;
    height: 50vh;
    border-radius: 3px;
}

.col{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 30px;
}

.left{
    color: var(--myBlack);
    background: var(--myWhite);
}

.right{
    color: var(--myWhite);
    background: var(--myBlue);
}

.right > .inputArea > input, .right > .inputArea > .halfWidth > input{
    color: var(--myWhite);
}

.h2 {
    padding: 12px 20px;
    margin: 8px 0;
    margin-bottom: 20px;
    font-weight: 600;
}

.left > h2 {
    color: var(--myBlue);
}

.default{
    color: #ccc;
}

.inputArea{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.halfWidth{
    width: 48%;
    display: flex;
    flex-direction: column;
}
.halfWidth input{
    width: 100%;
}

.halfWidth label{
    border: none;
    font-size: 11px;
    padding-top: 3px;
    display: block;
    color: #444444;
}

.inputArea input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    margin: 8px 0 auto;
    cursor: pointer;
    padding: 10px;
    font-size: 16px;
    background: transparent;
}

.dropdown{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: none;
    border-bottom: 1px solid #ccc;
    background: transparent;

}

.dropdownHalfWidth{
    width: 48%;
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 4px;
    display: inline-block;
    border: 1px solid #ccc;
}

.submitBtn{
    width: 100%;
    margin: 45px 0 8px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.submitButton{
    width: 100%;
    padding: 10px 20px;
    margin: 10px 0;
    background-color: var(--myWhite);
    border: none;
    color: var(--myBlue);
    border-radius: 2px;
    cursor: pointer;
    font-weight: 600;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.submitButton:hover{
    background-color: var(--myDark);
    color: var(--myWhite);
}

.terms {
    display: flex;
    align-items: center;
    margin: 20px 0 auto;
    gap: 5px;
}

.terms input{
    border: 1px solid var(--myWhite);
}

.loginLink{
    margin-top: 20px;
}

.loginLink a{
    text-decoration: underline;
}

@media (max-width: 768px) {
    .inputArea{
        flex-direction: column;
        width: 100%;
    }
    .inputArea input{
        width: 100%;
    }
    .halfWidth {
        width: 100%;
    }
}















/* ========= */
.generalInfo {
    background: #f5f5f5;
}

.contact-details {
    background: #3b3b98;
    color: white;
}



.formGroup {
    margin-bottom: 15px;
}

.formGroup label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.formGroup input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* input[type="checkbox"] {
    margin-right: 10px;
} */



.terms a {
    color: #fff;
    text-decoration: underline;
}

.btn {
    width: 100%;
    padding: 15px;
    background: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover {
    background: #45a049;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .form-section {
        flex: 1 1 100%;
    }

    .contact-details {
        padding: 30px 15px;
    }
}
