.container{
    display: flex;
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    min-width: 300px;
    background: var(--myBlue);
    color: var(--myWhite);
}

.inContainer{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.nav{
    display: flex;
    /* float: right; */
    align-items: center;
}

.nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    font: inherit;

    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
    
}

.navItem a{
    font-weight: 600;
    color: var(--myWhite);
    padding: 48px 19px 48px 18px;
}

.navItem a:hover{
    background: var(--myWhite);
    color: var(--myBlack);
}

.adminNavContainer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* margin: 25px 10px; */
    padding: 9px;
    align-items: center;
    text-transform: capitalize;
}

.navMenu{
    display: flex;
    align-items: center;
    gap: 25px;
    padding: 0 10px;
}
.avatar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.avatar img{
    border-radius: 50px;
    border: none;
    object-fit: cover;
}
